mat-toolbar.light-navbar {
  background-color: #212121 !important;
  color: white !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
mat-toolbar.dark-navbar {
  background-color: white !important;
  color: #212121 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
mat-icon.light-icon {
  color: white !important;
}
mat-icon.dark-icon {
  color: #212121 !important;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw !important;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar-icon {
  font-size: 30px;
  padding-left: 6px;
  width: 28px;
  height: 28px;
}
.mat-toolbar-single-row {
  padding: 0 !important;
}
.navbar-title {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-right {
  display: flex;
  padding-bottom: 5px;
  padding-right: 3px;
  align-items: center;
}