<div class="demo-button-container">
    <button matButton (click)="openAddNewRoomDialog()" class="add-new-room-button" [class.light-theme]="!isDarkMode()" [class.dark-theme]="isDarkMode()">
      ADD NEW ROOM
    </button>
  </div>

  <table mat-table [dataSource]="rooms()">

    <!-- Room Number Column -->
    <ng-container matColumnDef="roomNumber">
      <th mat-header-cell *matHeaderCellDef style="width: 25%; text-align: center; text-transform: uppercase;">Room Number</th>
      <td mat-cell *matCellDef="let room" style="width: fit-content !important; text-align: center !important; padding-left: 5rem !important;">{{room.roomNumber}}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef style="width: 25%; text-align: center; padding: 0 7px 0 0 !important; text-transform: uppercase;">Type</th>
      <td mat-cell *matCellDef="let room" style="width: 25%; text-align: center;">{{room.type}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="pricePerNight">
      <th mat-header-cell *matHeaderCellDef style="width: 25%; text-align: right; padding: 0 3px 0 0 !important; text-transform: uppercase;">Price Per Night</th>
      <td mat-cell *matCellDef="let room" style="width: 25%; text-align: right;">{{room.pricePerNight | currency}}</td>
    </ng-container>

    <!-- Available Column -->
    <ng-container matColumnDef="isAvailable">
      <th mat-header-cell *matHeaderCellDef style="width: 25%; text-align: center; padding: 0 3px 0 0 !important; text-transform: uppercase;">Available</th>
      <td mat-cell *matCellDef="let room; let i = index" style="width: 25%; text-align: center;">
        <div class="available-cell">
          <select
            [formControl]="availabilityControls()[i]"
            (change)="onAvailabilityChange(i)"
            class="availability-select"
            [class.occupied-room]="!room.isAvailable">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          @if (!room.isAvailable) {
            <mat-icon class="warning-icon" matTooltip="This room has active reservations">warning</mat-icon>
          }
          @if (editingStates()[i]) {
            <button (click)="saveAvailability(i)" class="save-btn" mat-icon-button>
              <mat-icon>check</mat-icon>
            </button>
          }
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
  </table>